body {
  margin: 0;
  font-family: sans-serif;
  background-image: url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 500px;
  height: 400px;
  text-align: center;
  background-color: rgba(83, 129, 149, 0.7);
  margin: 0 auto;
  margin-top: 150px;
}

.container img {
  width: 120px;
  height: 120px;
  margin-top: -60px;
  margin-bottom: 30px;
  border-radius: 50%;
}

input[type='text'],
input[type='password'] {
  height: 45px;
  width: 300px;
  font-size: 18px;
  margin-bottom: 20px;
  border: none;
  background-color: #fff;
  padding-left: 40px;
}

.btn-login {
  padding: 15px 30px;
  background-color: #79e5b2;
  border: none;
  margin-bottom: 20px;
  cursor: pointer;
}

a {
  color: #fff;
}
